/*
    CSS for about file
*/
/* 
    Created on : Oct 13, 2014, 9:21:27 AM
    Author     : marlongeraldorodriguesviana
*/
#content {
    font-family: "Gotham A","Gotham B","Helvetica",sans-serif;
    height: 168em;
}

#about_head {
    text-align: center;
    //background-image: url('../images/st_louis.png'); 
    background-image: url('../images/ethernet_1.jpg'); 
    background-size: 120em;
    height: 25em;
    opacity: 0.7;
}

#about_transbox {
    position: absolute;
    width: 50em;
    height: 18.5em;
    margin-top: 3em;
    margin-left: -25em;
    background-color: rgba(0, 0, 0, 0.45);
    border: 0.1em solid rgba(0, 0, 0, 0.45);
    opacity: 1;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    border-radius: 0.1em;
    left: 50%;
}

.about_title {
    font-weight: 900 !important;
    color: white !important;
    text-align: center !important;
    margin-top: 1.5em !important;
    font-size: 2em !important;
}

#about_transbox p {
    font-weight: normal;
    color: white;
    text-align: center;
    margin-top: 1.5em;
    font-size: 1.1em;
    padding: 0 1em 0 1em;
}

.about_sections {
    text-align: center;
    position: relative;
    width: 100%;
}

.about_sections_container {
    width: 64em;
    position: absolute;
    margin-left: -32em;
    left: 46%;
    text-align: left !important;
}

#about_section_1 {
    height: 20em;
    margin-top: 3.5em;
}

#about_section_2 {
    height: 26em;
    background: #F7F7F7;
    padding-top: 2.5em;
}

#about_section_3 {
    height: 33em;
    padding-top: 2.5em;
}

#about_section_4 {
    height: 36em;
    background: #F7F7F7;
    padding-top: 2.5em;
}

#about_section_5 {
    height: 9em;
    padding-top: 2.5em;
}

.about_info_title {
    color: #253639;
    font-size: 1.5em;
    font-weight: 900;
    margin-left: 9.3em;
}

.about_info a {
    text-decoration: none;
}

.about_info a:hover{
    color: #222222 !important;
    cursor: pointer !important;
}

.about_info a:visited {
    color: black;
    cursor: pointer !important;
}

.news_info_subtitle {
    color: #F35D25;
    font-weight: 900;
    margin-top: 20em;
}

.about_image_globe {
    width: 12em;
    position: relative;
    display: inline-block;
    margin-right: 2em;
}

.about_info p {
    position: absolute;
    display: inline-block;
}

.news_afer_sub_info {
    margin-top: 22.5em;
}
