/*
CSS for contact file
*/
/* 
    Created on : Oct 11, 2014, 4:11:22 PM
    Author     : marlongeraldorodriguesviana
*/
#content {
    font-family: "Gotham A","Gotham B","Helvetica",sans-serif;
}

#contact_head {
    text-align: center;
    //background-image: url('../images/st_louis.png'); 
    background-image: url('../images/St_louis_5.jpg'); 
    background-size: 120em;
    height: 25em;
    opacity: 0.7;
}

#contact_transbox {
    position: absolute;
    width: 40em;
    height: 15em;
    margin-top: 3em;
    margin-left: -20em;
    background-color: rgba(0, 0, 0, 0.45);
    border: 0.1em solid rgba(0, 0, 0, 0.45);
    opacity: 1;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    border-radius: 0.1em;
    left: 50%;
}

.transbox_title {
    font-weight: 900 !important;
    color: white !important;
    text-align: center !important;
    margin-top: 1.5em !important;
    font-size: 2em !important;
}

#contact_transbox p {
    font-weight: normal;
    color: white;
    text-align: center;
    margin-top: 1.5em;
    font-size: 1.1em;
}

#contact_wrapper {
    height: 18.5em;
    font-size: 0.9em;
    margin-top: 1em;
    margin-bottom: -4em;
    width: 100%;
    text-align: center;
}

#contact_info_1 {
    width: 14em;
    display: inline-block;
    vertical-align: top;
    text-align: left !important;
}

#contact_info_1 p {
    margin-top: 2em;
}

#contact_info_2 {
    width: 28em;
    display: inline-block;
    vertical-align: top;
    text-align: left !important;
}

.info_table {
    margin-top: 2em;
}

.info_table td {
     width: 10.5em;
}

#contact_info_3 {
    width: 20em;
    display: inline-block;
    vertical-align: top;
    text-align: left !important;
}

#contact_info_3 p {
    margin-top: 2em;
}

#contact_wrapper h2 {
    color: #2F3B40;
    font-size: 1.5em !important;
}

#contact_map {
    width: 100%;
    text-align: center;
    margin-top: 2em;
}

#contact_map p {
    margin-top: 2em;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {
    #content {
        height: 72em;
    }
    
    #contact_head {
        background-size: 100em;
        height: 23em;
        opacity: 0.7;
    }
    
    #contact_transbox {
        width: 20em;
        height: 13em;
        margin-left: -10em;
        left: 50%;
    }
    
    .transbox_title {
        font-size: 1.5em !important;
    }

    #contact_transbox p {
        font-size: 0.9em;
    }
    
    h2 {
        font-size: 1em;
    }
    
    #contact_map p {
        font-size: 0.9em;
    }
    
    #map_frame {
        width: 22em;
        height: 18em;
    }

    #contact_wrapper h2 {
        font-size: 1em !important;
        text-align: left;
    }
    
    #contact_wrapper {
        height: 18.5em;
        font-size: 0.8em;
        text-align: left;
        padding-left: 2em;
    }
    
    #contact_info_2 h2 {
        margin-left: 0em !important;
    }
}

@media only screen and (max-width: 800px) and (min-width: 481px) {
     #content {
        height: 96em;
    }
    
    #map_frame {
        width: 40em;
        height: 32em;
    }
    
    #contact_wrapper h2 {
        font-size: 1.2em !important;
        text-align: left;
    }
    
    #contact_wrapper {
        height: 18.5em;
        font-size: 1em;
        text-align: left;
        padding-left: 5em;
    }
    
    #contact_info_2 {
        display: inline;
    }
    
    #contact_info_2 h2 {
        margin-left: 0em !important;
    }
    
}

