/*
CSS for footer file
*/
/* 
    Created on : Oct 5, 2014, 9:50:44 PM
    Author     : marlongeraldorodriguesviana
*/

#footer_nav {
    background: black;
    //background: #95C760;
    height: 26.7em;
    width: 100%;
    font-size: 0.8em;
    font-family: "Gotham A","Gotham B","Helvetica",sans-serif;
    font-weight: normal;
    color: white;
    position:absolute;
    bottom:0;
}

#footer_wrapper {
    height: 18.5em;
    background: #39657C;
    width: 100%;
    text-align: center;
}

h2 {
    margin-top: 1.3em;
    color: black;
    font-size: 1.1em;
    margin-bottom: -0.5em;
}

h3 {
    color: black;
    font-size: 1.3em;
    margin-bottom: -0.5em;
}


#footer_info_1 {
    width: 15em;
    display: inline-block;
    vertical-align: top;
    text-align: left !important;
}

#footer_info_2 {
    width: 12em;
    display: inline-block;
    vertical-align: top;
    text-align: left !important;
}

#footer_info_3 {
    width: 20em;
    display: inline-block;
    vertical-align: top;
    text-align: left !important;
}

#footer_info_1 p {
    height: 0.5em;
}

#footer_info_2 p {
    height: 0.5em;
}

#footer_follow img{
    padding-right: 0.4em;
}

#footer_info_3 p {
    height: 0.5em;
}

#footer_terms {
    text-align: center;
}

#footer_terms p {
    font-size: 1.1em;
}

#footer_message {
    text-align: center;
    font-size: 1.3em;
}

#footer_message p {
    height: 1em;
}