/*
CSS for Header file
*/
/* 
    Created on : Oct 4, 2014, 9:56:44 AM
    Author     : marlongeraldorodriguesviana
*/
@-moz-document url-prefix() {
    #sub_header_wrapper {
        margin-top: -0.7em;
        z-index: 20;
        position: absolute;
        width: 100%;
        margin-left: 7em;
    }
}

#header_nav {
    background: #FFFFFF;
    //height: 5em;
    height: 11.4em;
    width: 100%;
    //border-bottom: 0.2em solid #004762;
    font-size: 0.8em;
    font-family: "Gotham A","Gotham B","Helvetica",sans-serif;
    font-weight: 900;
}

#header_wrapper {
    text-align: center;
    height: 5em;
    border-bottom: 0.2em solid #004762;
}

#header_logo {
    width: 9em;
    margin-top: 0.7em;
    display: inline-block;
    //margin-left: -7em;
}

#nav_container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

#nav_container ul {
    margin-top: 1.5em;
}

#nav_container ul li {
    display: inline;
    padding: 0 1.5em 0 1.5em;
}

#login_btn {
    margin-left: 10em;
    display: inline-block;
    width: 12em;
}

#nav_container a {
    text-decoration: none;
    color: #222222;
}

#nav_container a:visited {
    color: #222222;
}

#nav_container a:hover {
    color: #F35D25;
}

#nav_container a.active {
    color: #F35D25;
}

#solutions_subnav {
    display: none;
    width: 14em;
    background: #FFFFFF;
    border-top: 0.2em solid #FFFFFF;
    margin-top: 1.4em;
    border-left: 0.2em solid #004762;
    border-right: 0.2em solid #004762;
    border-bottom: 0.2em solid #004762;
    text-align: left;
}

#solutions_subnav ul {
    list-style-type: none;
    padding-left: 0.7em !important;
}

#sub_header_wrapper {
    margin-top: -0.7em;
    z-index: 20;
    position: absolute;
    width: 100%;
}

#solutions_nav {
    position: relative;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {
    #header_wrapper {
        text-align: center;
        height: 5.6em;
        border-bottom: 0.2em solid #004762;
        font-size: 0.9em;
    }
    
    #nav_container ul li {
        display: inline;
        padding: 0 0.5em 0 0;
    }

    #header_logo {
        width: 6em;
        margin-top: 0.2em;
        display: inline-block;
        margin-right: -2.2em;
    }
    
    #login_btn {        
        display: none;        
    }

    #solutions_subnav {
        //display: none;
        width: 13em;
        background: #FFFFFF;
        border-top: 0.2em solid #FFFFFF;
        margin-top: 3.5em;
        border-left: 0.2em solid #004762;
        border-right: 0.2em solid #004762;
        border-bottom: 0.2em solid #004762;
        text-align: left;
        height: 7em;
    }
    
    #solutions_subnav ul li {
        padding: 0 0.9em 0 0.9em;
    }
}

@media only screen and (max-width: 1012px) and (min-width: 481px) {
    #header_wrapper {
        text-align: center;
        height: 5em;
        border-bottom: 0.2em solid #004762;
        font-size: 1em;
    }
    
    #nav_container ul li {
        display: inline;
        padding: 0 0.5em 0 0;
    }

    #header_logo {
        width: 9em;
        margin-top: 0.2em;
        display: inline-block;
        margin-right: -2.2em;
    }
    
    #login_btn {        
        display: none;        
    }

    #solutions_subnav {
        //display: none;
        width: 13em;
        background: #FFFFFF;
        border-top: 0.2em solid #FFFFFF;
        margin-top: 1.8em;
        border-left: 0.2em solid #004762;
        border-right: 0.2em solid #004762;
        border-bottom: 0.2em solid #004762;
        text-align: left;
        height: 7em;
    }
    
    #solutions_subnav ul li {
        padding: 0 1em 0 1em;
    }
}
