/*
CSS for ocularip file
*/
/* 
    Created on : Oct 13, 2014, 9:07:57 PM
    Author     : marlongeraldorodriguesviana
*/
#content {
    font-family: "Gotham A","Gotham B","Helvetica",sans-serif;
    height: 210em;
}

#ocularip_head {
    text-align: center;
    background-image: url('../images/network_1.jpg'); 
    background-size: 120em;
    height: 24em;
    opacity: 0.7;
}

#ocularip_transbox {
    position: absolute;
    width: 50em;
    height: 16em;
    margin-top: 3em;
    margin-left: -25em;
    background-color: rgba(0, 0, 0, 0.45);
    border: 0.1em solid rgba(0, 0, 0, 0.45);
    opacity: 1;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    border-radius: 0.1em;
    left: 50%;
}

.ocularip_title {
    font-weight: 900 !important;
    color: white !important;
    text-align: center !important;
    margin-top: 1.5em !important;
    font-size: 2em !important;
}

#ocularip_transbox p {
    font-weight: normal;
    color: white;
    text-align: center;
    margin-top: 1.5em;
    font-size: 1.1em;
    padding: 0 1em 0 1em;
}

.ocularip_sections {
    text-align: center;
    position: relative;
    width: 100%;
}

.ocularip_sections_container {
    width: 64em;
    position: absolute;
    margin-left: -32em;
    left: 46%;
    text-align: left !important;
}

#ocularip_subtitle {
    color: #253639;
    font-size: 2em;
    font-weight: 900;
    width: 40em;
    margin-left: -20em;
    margin-top: 2em;
    left: 50%;
}

#ocularip_subtitle a {
    font-size: 0.7em !important;
    font-weight: 900;
    text-decoration: none;
    color: #253639
}

#ocularip_section_1 {
    height: 25em;
    margin-top: 3.5em;
}

#ocularip_section_2 {
    height: 77em;
    padding-top: 2.5em;
    background: #F7F7F7;
}

#ocularip_section_3 {
    height: 49em;
    padding-top: 2.5em;
}

#ocularip_section_4 {
    height: 25em;
    padding-top: 2.5em;
    background: #F7F7F7;
}

.ocularip_info_title {
    color: #253639;
    font-size: 1.5em;
    font-weight: 900;
    margin-left: 9.3em;
}

.ocularip_info a {
    text-decoration: none;
}

.ocularip_info a:hover{
    color: #222222 !important;
    cursor: pointer !important;
}

.ocularip_info a:visited {
    color: black;
    cursor: pointer !important;
}

.ocularip_info_subtitle {
    color: #F35D25;
    font-weight: 900;
}

.ocularip_destac {
    color: #253639;
    font-weight: 900;
}

.ocularip_info p {
    position: absolute;
    display: inline-block;
}

.ocularip_image_globe {
    width: 12em;
    position: relative;
    display: inline-block;
    margin-right: 2em;
}

#ocularip_sub_section_12 {
    margin-top: 5em;
}

#ocularip_sub_section_21 {
    margin-top: 0.5em;
}

#ocularip_sub_section_22 {
    margin-top: 15em;
}

#ocularip_sub_section_23 {
    margin-top: 37em;
}

#ocularip_sub_section_24 {
    margin-top: 46em;
}

#ocularip_sub_section_25 {
    margin-top: 53em;
}

#ocularip_sub_section_22_title {
    margin-top: 12em;
}

#ocularip_sub_section_23_title {
    margin-top: 34em;
}

#ocularip_sub_section_24_title {
    margin-top: 43em;
}

#ocularip_sub_section_25_title {
    margin-top: 51em;
}

.ocularip_info ul {
    position: absolute;
    display: inline-block;
}

#ocularip_sub_section_31 {
    margin-top: 0.5em;
}

#ocularip_sub_section_32 {
    margin-top: 20em;
}

#ocularip_sub_section_33 {
    margin-top: 30em;
}

#ocularip_sub_section_34 {
    margin-top: 3em;
}

#ocularip_sub_section_33_title {
    margin-top: 28em;
}

#ocularip_sub_section_41 {
    margin-top: 0.5em;
}

#ocularip_sub_section_42 {
    margin-top: 5em;
}

#ocularip_sub_section_42_title {
    margin-top: 3em;
}

#ocularip_sub_section_42_title:hover {
    cursor: pointer !important;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {
    #content {
        height: 218em;
    }
    
    #ocularip_head {
        background-size: 100em;
        height: 23em;
        opacity: 0.7;
    }
    
    #ocularip_transbox {
        width: 20em;
        height: 16em;
        margin-left: -10em;
        left: 50%;
    }
    
    .ocularip_title {
        font-size: 1.5em !important;
    }

    #ocularip_transbox p {
        font-size: 0.9em;
    }
    
    #ocularip_subtitle {
        font-size: 1.1em;
    }
    
    .ocularip_image_globe {
        display: none;
    }
    
    .ocularip_sections_container {
        width: 25em;
        position: absolute;
        margin-left: -12.5em;
        left: 46%;
        text-align: left !important;
        font-size: 0.8em;
    }
    
    .ocularip_info_title {
        font-size: 1em;
        margin-left: 0em;
    }
    
    #ocularip_section_1 {
        height: 31em;
        margin-top: 3.5em;
    }

    #ocularip_section_2 {
        height: 87em;
        background: #F7F7F7;
        padding-top: 2.5em;
    }

    #ocularip_section_3 {
        height: 54em;
        padding-top: 2.5em;
    }
    
    #ocularip_sub_section_12 {
        margin-top: 8.5em;
    }
    
    #ocularip_sub_section_22 {
        margin-top: 20em;
    }
    
    #ocularip_sub_section_23 {
        margin-top: 57em;
    }
    
    #ocularip_sub_section_24 {
        margin-top: 68em;
    }
    
    #ocularip_sub_section_25 {
        margin-top: 78em;
    }
    
    #ocularip_sub_section_22_title {
        margin-top: 18em;
    }
    
    #ocularip_sub_section_23_title {
        margin-top: 55em;
    }
    
    #ocularip_sub_section_24_title {
        margin-top: 66em;
    }
    
    #ocularip_sub_section_25_title {
        margin-top: 76em;
    }
    
    #ocularip_sub_section_32 {
        margin-top: 29em;
    }
    
    #ocularip_sub_section_33 {
        margin-top: 44em;
    }
    
    #ocularip_sub_section_33_title {
        margin-top: 42em;
    }
    
    #ocularip_sub_section_42 {
        margin-top: 6em;
    }
    
    #ocularip_sub_section_42_title {
        margin-top: 4em;
    }
}

@media only screen and (max-width: 1012px) and (min-width: 481px) {
    #content {
        height: 198em;
    }
    
    #ocularip_head {
        background-size: 100em;
        height: 23em;
        opacity: 0.7;
    }
    
    #ocularip_transbox {
        width: 40em;
        height: 16.5em;
        margin-left: -20em;
        left: 50%;
    }
    
    .ocularip_title {
        font-size: 1.8em !important;
    }

    #ocularip_transbox p {
        font-size: 1em;
    }
    
    #ocularip_subtitle {
        font-size: 1.5em;
    }
    
    .ocularip_image_globe {
        width: 10em;
        position: relative;
        display: inline-block;
        margin-right: 2em;
    }
    
    .ocularip_sections_container {
        width: 50em;
        position: absolute;
        margin-left: -25em;
        left: 46%;
        text-align: left !important;
        font-size: 0.9em;
    }
    
    .ocularip_info_title {
        font-size: 1.3em;
        margin-left: 9.2em;
    }
    
    #ocularip_section_1 {
        height: 25em;
        margin-top: 3.5em;
    }

    #ocularip_section_2 {
        height: 75em;
        background: #F7F7F7;
        padding-top: 2.5em;
    }

    #ocularip_section_3 {
        height: 47em;
        padding-top: 2.5em;
    }
    
    #ocularip_section_4 {
        height: 18em;
        padding-top: 2.5em;
    }
    
    #ocularip_sub_section_12 {
        margin-top: 6.5em;
    }
    
    #ocularip_sub_section_22 {
        margin-top: 15em;
    }
    
    #ocularip_sub_section_23 {
        margin-top: 40em;
    }
    
    #ocularip_sub_section_24 {
        margin-top: 49em;
    }
    
    #ocularip_sub_section_25 {
        margin-top: 58em;
    }
    
    #ocularip_sub_section_22_title {
        margin-top: 13em;
    }
    
    #ocularip_sub_section_23_title {
        margin-top: 38em;
    }
    
    #ocularip_sub_section_24_title {
        margin-top: 47em;
    }
    
    #ocularip_sub_section_25_title {
        margin-top: 56em;
    }
    
    #ocularip_sub_section_32 {
        margin-top: 20em;
    }
    
    #ocularip_sub_section_33 {
        margin-top: 31em;
    }
    
    #ocularip_sub_section_33_title {
        margin-top: 29em;
    }
    
    #ocularip_sub_section_42 {
        margin-top: 5em;
    }
    
    #ocularip_sub_section_42_title {
        margin-top: 3em;
    }
}