/*
CSS for ocularip file
*/
/* 
    Created on : Oct 13, 2014, 9:07:57 PM
    Author     : marlongeraldorodriguesviana
*/
#content {
    font-family: "Gotham A","Gotham B","Helvetica",sans-serif;
    height: 223em;
}

#ocularip_head {
    text-align: center;
    background-image: url('../images/network_1.jpg'); 
    background-size: 120em;
    height: 24em;
    opacity: 0.7;
}

#ocularip_transbox {
    position: absolute;
    width: 50em;
    height: 16em;
    margin-top: 3em;
    margin-left: -25em;
    background-color: rgba(0, 0, 0, 0.45);
    border: 0.1em solid rgba(0, 0, 0, 0.45);
    opacity: 1;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    border-radius: 0.1em;
    left: 50%;
}

.ocularip_title {
    font-weight: 900 !important;
    color: white !important;
    text-align: center !important;
    margin-top: 1.5em !important;
    font-size: 2em !important;
}

#ocularip_transbox p {
    font-weight: normal;
    color: white;
    text-align: center;
    margin-top: 1.5em;
    font-size: 1.1em;
    padding: 0 1em 0 1em;
}

.ocularip_sections {
    text-align: center;
    position: relative;
    width: 100%;
}

.ocularip_sections_container {
    width: 60em;
    position: absolute;
    margin-left: -30em;
    left: 50%;
    text-align: left !important;
}

#ocularip_subtitle {
    color: #253639;
    font-size: 2em;
    font-weight: 900;
    width: 40em;
    margin-left: -20em;
    margin-top: 2em;
    left: 50%;
}

#ocularip_subtitle a {
    font-size: 0.7em !important;
    font-weight: 900;
    text-decoration: none;
    color: #253639
}

.ocularip_sections_container {
    width: 60em;
    position: absolute;
    margin-left: -30em;
    left: 50%;
    text-align: left !important;
}

#ocularip_section_1 {
    height: 28em;
    margin-top: 3.5em;
}

#ocularip_section_2 {
    height: 80em;
    padding-top: 2.5em;
    background: #F7F7F7;
}

#ocularip_section_3 {
    height: 62em;
    padding-top: 2.5em;
}

#ocularip_section_4 {
    height: 19em;
    padding-top: 2.5em;
    background: #F7F7F7;
}

.ocularip_info_title {
    color: #253639;
    font-size: 1.5em;
    font-weight: 900;
}

.ocularip_info a {
    text-decoration: none;
}

.ocularip_info a:hover{
    color: #222222 !important;
    cursor: pointer !important;
}

.ocularip_info a:visited {
    color: black;
    cursor: pointer !important;
}

.ocularip_info_subtitle {
    color: #F35D25;
    font-weight: 900;
}

.ocularip_destac {
    color: #253639;
    font-weight: 900;
}
