/*
CSS file to support the system
*/
/* 
    Created on : Oct 4, 2014, 9:56:37 AM
    Author     : marlongeraldorodriguesviana
*/
html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
   min-height:100%;
   position:relative;
}

#content {
	padding-bottom:26.6em;   /* Height of the footer element */
}

#main_prog_container {
    width: 100%;
    height: 18em;
    position: relative;
}


#main_prog_image {
    width: 100%;
    height: 100%;
    //background-image: url('../images/web_spider.jpg');    
    //background-image: url('../images/eletrical.jpg');    
    background-image: url('../images/web_spider2.jpg');    
    background-repeat: no-repeat;
    background-size: 100%;
    //background: #A9A7AA;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#main_prog_info {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

#mac_ipad_img {
    width: 23em;
    margin-top: -4em;
}

#main_prog_text_wrapper {
    margin-top: 2em;
    margin-left: -15em;
}

#main_prog_title {
    font-weight: 900;
    font-size: 2em;
}

#main_prog_text_1 {
    width: 35%;
    display: inline-block;
    font-size: 1em;
    margin-top: -0.5em;
}

.main_prog_info_divs {
    width: 75em;
    display: inline-block;
    margin-left: -20em;
}

#sub_main_container {
    background: #39657C;
    margin-top: -1em;
    min-height: 3.4em;
    height: auto;
}

#sub_main_container p {
    color: white;
    text-align: center;
    font-weight: 900;
    padding-top: 0.8em;
}
