/*
CSS for wood file
*/
/* 
    Created on : Oct 14, 2014, 10:28:49 AM
    Author     : marlongeraldorodriguesviana
*/
#content {
    font-family: "Gotham A","Gotham B","Helvetica",sans-serif;
    height: 70em;
}

#wood_head {
    text-align: center;
    background-image: url('../images/wood_1.jpg'); 
    background-size: 120em;
    height: 24em;
    opacity: 0.7;
}

#wood_transbox {
    position: absolute;
    width: 50em;
    height: 16em;
    margin-top: 3em;
    margin-left: -25em;
    background-color: rgba(0, 0, 0, 0.45);
    border: 0.1em solid rgba(0, 0, 0, 0.45);
    opacity: 1;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    border-radius: 0.1em;
    left: 50%;
}

.wood_title {
    font-weight: 900 !important;
    color: white !important;
    text-align: center !important;
    margin-top: 1.5em !important;
    font-size: 2em !important;
}

#wood_transbox p {
    font-weight: normal;
    color: white;
    text-align: center;
    margin-top: 1.5em;
    font-size: 1.1em;
    padding: 0 1em 0 1em;
}

.wood_sections {
    text-align: center;
    position: relative;
    width: 100%;
}

.wood_sections_container {
    width: 60em;
    position: absolute;
    margin-left: -30em;
    left: 50%;
    text-align: left !important;
}

#wood_section_1 {
    margin-top: 3.5em;
}

.wood_info_title {
    color: #253639;
    font-size: 1.5em;
    font-weight: 900;
}

.wood_info a {
    text-decoration: none;
}

.wood_info a:hover{
    color: #222222 !important;
    cursor: pointer !important;
}

.wood_info a:visited {
    color: black;
    cursor: pointer !important;
}

